body {
    background-image: url(../svg/background\ red.svg);;
}

header h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 2em;
}

.container-login {
    background-color: rgb(111, 111, 111);
    display: flex;
    border: solid;
    border-color: black;
    border-radius: 24px;
    box-shadow: 10px 10px 10px;
    width: 30em;
    height: 25em;
    margin: auto;
    justify-content: center;
}

.acesso-ao-sistema h1 {
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    padding: 1em;
}

.form-label {
    font-size: 1em;
    padding: 1em;
    border-radius: 10px;
}

.form-logo {
    padding: 1em;
}

.form {
    color: white;
    padding: 1em;
    display: grid;
}

.form-submit {
    color: white;
    background-color: rgb(61, 153, 200);
}

.form-submit:hover {
    background-color: rgb(111, 179, 215);
}

.rodape {
    color: white;
    text-align: center;
    padding: 2em;
}

.rodape p {
    padding: 1em;
}